<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-ecp-workbench.ZPM">
    <Module>
      <Name>iris-ecp-workbench</Name>
      <Version>0.0.2</Version>
      <Description>Initialize ECP Server + Client Workbench</Description>
      <Keywords>Mirror</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="zECPinit.MAC"/>
      <Resource Name="%ZSTART.MAC"/>
    </Module>
  </Document>
</Export>
